.About {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    flex-grow: 1;
}

.About-project-name {
    color: #fa923f;
}

.About-story {
    font-style: italic;
}

.About-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.members {
    text-align: left;
}
