.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* todo change for component NOT CSS STYLE !!! */
.App .AppHeader {
  height: 56px;
  width: 100%;
  background-color: #EFEFEF;
}
