.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* todo change for component NOT CSS STYLE !!! */
.App .AppHeader {
  height: 56px;
  width: 100%;
  background-color: #EFEFEF;
}

.App-title-primary-color {
  color: #fa923f;
}

.App-standard-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
